@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-grey: #343434;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%;
  padding: 2rem;
}

.wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.header {
  width: 100%;
  height: 100px;
  padding: 15px;
  background-color: var(--color-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  font-size: 2rem;
  color: var(--color-white);
}

.header-control {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-control__icon {
  width: 60px;
  height: 60px;
  background-color: var(--color-white);
  border-radius: 50%;
}

.header-control__icon img {
  width: 100%;
  border-radius: inherit;
}

.header-control i {
  position: relative;
  font-size: 50px;
  color: var(--color-white);
  cursor: pointer;
}

.header-control__area-log {
  width: 200px;
  height: 500px;
  background-color: var(--color-white);
  list-style-type: none;
}


.menu {
  position: fixed;
  z-index: 1000;
  width: 150px;
  background: #1b1a1a;
  border-radius: 5px;
  display: none;
  list-style: none;
}

.menu-opened {
    display: block;
}

.menu .menu-item {
  padding: 8px 10px;
  font-size: 1rem;
  color: #eee;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
  border-radius: inherit;
}

.menu .menu-item:hover {
    background-color: var(--color-grey);
}

/* working area */

.app {
    width: 100%;
    height: calc(100vh - 100px);
}

.app-container {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 238, 232);
    padding: 10px;
}

/* System message */

.system-message {
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 450px;
    padding: 20px 0;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 2px;
    display: none;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease-in-out;

    box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
}

.system-message__show {
    display: flex;
}

/* location */

.location-block {
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 350px;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 2px;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease-in-out;

    box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
}

.location-block__header, .location-block__main {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* == clicks.module styles == */
.clicks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.clicks-board {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 500px;
  height: 300px;
  background: linear-gradient(118.38deg, #9898a0 -4.6%, #afc5dd 200.44%);
  box-shadow: -8px -8px 20px #2a333d, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}

.time-title,
.clicks-count {
  display: block;
  padding: 4px 0px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 25px;
}
.time-title {
  margin: 10px 0px;
}
.clicks-count {
  color: white;
}

.clicks-point {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.clicks-count.hide {
  display: none;
}
.btn-start {
  padding: 10px 15px;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-start.hide {
  display: none;
}
/* == /clicks.module styles == */

.timer-form__hours-input {
    font-size: 2.2rem;
    width: 70px;
    height: 70px;

    background: var(--color-white);
    color: var(--color-grey);
    border: none;
    border-radius: 5px;

    padding: 15px 2px 15px 15px;
}

.timer-form {
    width: 100%;
    height: 200px;
}

.timer-form__header, .timer-form__main, .timer-form__footer {
  width: 100%;
  padding: 10px 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-form__main {
  padding: 0;
}

.timer-form__finish-button, .timer-form__submit-button {
    width: 180px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-white);
    color: var(--color-grey);
    margin: 0 10px;
    font-weight: 700;
    cursor: pointer;
}

.timer-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 45%;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 250px;
  padding: 10px;
  background: linear-gradient(to bottom right, rgb(34 211 238), rgb(168 85 247));
  border-radius: 22px;
}

.timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey);
  border-radius: inherit;
  height: 100%;

  font-size: 100px;

  color: var(--color-white);
}

.timer-form__input-label {
  font-size: 20px;
}

.timer-divider {
  margin: 0 10px;
}

/* Logging messages */

.log-modal, .gender-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.log-results, .gender-results {
  width: 100%;
  max-width: 640px;
  margin: 0 10px;
  height: 300px;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;

  overflow-x: hidden;
  overflow-y: auto;

  animation: simple-scale 0.5s linear alternate;
}

.log-results__header, .gender-results__header {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.log-results__list, .gender-results__list {
  list-style-type: none;
  height: 220px;
  background-color: #fff;
  
  overflow-x: hidden;
  overflow-y: auto;
}

.form-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}

.gender-results__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gender-results__form-submit {
  width: 280px;
  padding: 10px 0;
	cursor: pointer;
  border: none;
	border-radius: 5px;
	background-color: rgb(235, 234, 234);
}

.gender-results__form-submit:hover {
  background-color: rgb(207, 207, 207);
}

.log-results__item {
  height: 30px;
  margin: 10px;
  padding: 0 15px;
  border: 1px solid black;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.log-results__item-text {
  display: block;
  white-space: nowrap; 
  width: 120px; 
  overflow: hidden;
  text-overflow: ellipsis; 
}

.log-results__item-close,
.log-result__close,
.gender-result__close {
  color: #ff0101;
  font-size: 40px;
}

.log-results__item-close:hover,
.log-result__close:hover,
.gender-result__close {
  cursor: pointer;
}

/* select */

details {
	position: relative;
	width: 300px;
	margin-right: 1rem;
}

details[open] {
	z-index: 1;
}

summary {
	padding: 1rem;
	cursor: pointer;
	border-radius: 5px;
	background-color: rgb(235, 234, 234);
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

details ul {
	width: 100%;
	background: rgb(235, 234, 234);
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
  list-style-type: none;
}

details li {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

details li:first-child {
	padding-top: 0;
}

details li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

/* FAKE SELECT */

summary.radios {
	counter-reset: radios;
}

summary.radios:before {
	content: var(--selection);
}

details input[type=radio] {
	counter-increment: radios;
	appearance: none;
	display: none;
}

details input[type=radio]:checked {
	display: inline;
	--display: block;
}

details input[type=radio]:after {
	content: attr(title);
	display: inline;
	font-size: 1rem;
}

details ul.list {
	counter-reset: labels;
}

details label {
	width: 100%;
	display: flex;
	cursor: pointer;
	justify-content: space-between;
}

details label span {
	--display: none;
	display: var(--display);
	width: 1rem;
	height: 1rem;
	border: 1px solid #727272;
	border-radius: 3px;
}