@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #fff;
    --color-grey: #343434;
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    padding: 2rem;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 100px;
    padding: 15px;

    background-color: var(--color-grey);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    font-size: 2rem;
    color: var(--color-white);
}

.header-icon {
    width: 60px;
    height: 60px;
    background-color: var(--color-white);
    border-radius: 50%;
}

.menu {
    position: fixed;
    z-index: 1000;
    width: 150px;
    background: #1b1a1a;
    border-radius: 5px;
    display: none;
    list-style: none;
}

.menu-opened {
    display: block;
}

.menu .menu-item {
    padding: 8px 10px;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
    transition: background-color .2s ease-in;
    border-radius: inherit;
}

.menu .menu-item:hover {
    background-color: var(--color-grey);
}

/* working area */

.app {
    width: 100%;
    height: calc(100vh - 100px);
}

.app-container {
    width: 100%;
    height: 100%;
    background-color: rgb(243, 238, 232);
    padding: 10px;
}

/* System message */

.system-message {
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 350px;
    padding: 20px 0;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 2px;
    display: none;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease-in-out;

    box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
}

.system-message__show {
    display: flex;
}

/* location */

.location-block {
    position: fixed;
    z-index: 10;
    width: 100%;
    max-width: 350px;
    left: 0;
    right: 0;
    bottom: 40%;
    margin: 0 auto;

    background-color: #fff;
    border-radius: 2px;
    justify-content: center;
    align-items: center;

    transition: 0.3s ease-in-out;

    box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -webkit-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 10px 10px 14px -7px rgba(0,0,0,0.55);
}

.location-block__header, .location-block__main {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid black;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

